pkgbase = taskforest-git
	pkgdesc = Eye-friendly native system monitor built with GPUI
	pkgver = 0.1.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/YellowWhiteBlackCat/TaskForest
	arch = x86_64
	license = Apache-2.0
	checkdepends = cargo-nextest
	makedepends = cargo
	makedepends = clang
	makedepends = git
	depends = fontconfig
	depends = freetype2
	depends = libxkbcommon
	depends = wayland
	depends = vulkan-loader
	optdepends = smartmontools: ATA/SATA/NVMe S.M.A.R.T. attributes and self-tests
	optdepends = nvme-cli: extra NVMe endurance/power-on-hours data
	optdepends = xfsprogs: XFS filesystem integrity checks
	optdepends = iw: WiFi SSID display
	optdepends = nvidia-utils: NVIDIA GPU utilization via dynamically loaded NVML
	optdepends = vulkan-intel: Vulkan ICD for Intel integrated graphics
	optdepends = vulkan-radeon: Vulkan ICD for AMD graphics
	provides = taskforest
	conflicts = taskforest
	source = taskforest-git::git+https://github.com/YellowWhiteBlackCat/TaskForest.git
	sha256sums = SKIP

pkgname = taskforest-git
